body {
    background: black;
    color: aliceblue;
    max-width: 1000px;
    height: 100vh;
    margin: auto;

    font-size:18px ;
    
}

.menu {
    border-bottom: 1px solid rgb(251, 255, 0);
    height: auto;
    width: 100%;   
}

.menucontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;


}



a {
    color: rgb(243, 255, 82);
    text-decoration: none;
}